*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    background : beige;
    font-family: arial;
    margin     : 0;
    height     : 100%;
    overflow-x : hidden;
}

ul {
    list-style: none;
    padding: 0;
}

header > h1 {
    background: yellow;
    padding   : 2rem;
}

.main-header > h1 {
    background: red;
}

.user-cards {
    display: flex;
    flex-wrap: wrap;
}

.user-card {
    background: white;
    border    : 1px solid black;
    display   : flex;
    margin    : 1rem;
    min-width : 20rem;
    padding   : 1rem;
    position  : relative;
    }

    .user-card > ul {
        flex: 1;
    }

    .user-card > img {
        border    : 2px solid transparent;
        cursor    : pointer;
        align-self: baseline;
    }

    .user-card > img:hover {
        border: 2px solid red;
    }

    .user-card.clone {
        position  : absolute;
        height    : 0; /* hacky, but needed to ensure animation to 100% */
        margin    : 0;
        transition: all .5s;
        width     : 0; /* hacky, but needed to ensure animation to 100% */
    }

    .user-card.clone.full {
        border : 1px solid transparent;
        height : 100%;
        left   : 0 !important;
        top    : 0 !important;
        width  : 100%;
    }

.cloned {
    visibility: hidden;
    margin : 0;
}
