*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    margin: 0;
    height: 100%;
    background: white;
}

header > h1 {
    background: yellow;
    padding: 2rem;
}

.user-thumbnails {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.user-thumbnail {
    border   : 1px solid black;
    margin   : 1rem;
    min-width: 20rem;
    padding  : 1rem;
    }

    .user-thumbnail > img {
        border: 2px solid transparent;
        cursor   : pointer;
        float: right;
    }

    .user-thumbnail > img:hover {
        border: 2px solid red;
    }

.user-page {
        background: white;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .user-page > img {
        position: absolute;
        right: 2rem;
        top: 3rem;
    }
